<div ng-show=true>
	<div ng-include="'assets/templates/headerConseiller.html'"></div>
</div>

<div class="col-sm-7 col-lg-offset-2"
	style="position: relative; padding-top: 30px; padding-bottom: 30px; top: 50px; border-style: solid; border-width: 1px; border-color: grey; background-color: rgba(215, 215, 215, 0.8); border-radius: 25px;">


<h3 style="text-align: center; color: #406c8d">
		<strong>Realisation du contrat de vente :</strong>
	</h3>

<!-- Formulaire d'ajout -->
<form class="form-horizontal">

	<div class="form-group">
		<label for="idClient" class="col-sm-2 control-label">ID de l'acheteur :</label>
		<div class="col-sm-4 col-sm-offset-4">
			<select class="form-control" id="idProp"
				ng-model="contratAjout.client.id">
				<option value="{{client.id}}" id="idClient" ng-repeat="client in listeClient">{{client.id}}</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<label for="idVente" class="col-sm-2 control-label">ID du bien vendu :</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idVente"
				placeholder="ID" ng-model="contratAjout.vente.id">
		</div>
	</div>

	<div class="form-group">
		<label for="idDate" class="col-sm-2 control-label">Date de vente :</label>
		<div class="col-sm-10">
			<input type="date" class="form-control" id="idDate"
				placeholder="Date" ng-model="contratAjout.date">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="ajouterContrat()">Creer le contrat</button>
		</div>
	</div>
</form>

</div>