<div ng-show=true>
	<div ng-include="'assets/templates/headerUser.html'"></div>
</div>


<h1>Notre agence:</h1>

<div class="row" style="border-style: solid;">
	<div class="col-md-4">
		<h2 style="color: #039a03">
			<b>- May Tea Immo -</b>
		</h2>
		<br>
		<h4>Adresse : 24 rue Crebillon, 44000 Nantes</h4>
		<br>
		<h5>
			Horaires : <br /> Du mardi au Samedi : 9h - 19h
		</h5>

	</div>
	<div class="col-md-4">
		<h4>
			Tel : 02 60 60 60 60<br /> Fax : 02 80 80 80 80
			<br/>
			<br/>
			Mail: <em>may.tea.immo@mti.fr</em>
		</h4>
	</div>
	<div class="col-md-4">
		<img src="assets/images/agence_photo.jpg" />
	</div>
</div>

<div class="col-sm-12" style="text-align: center">
	<br /> <br /> <img src="assets/images/SB-Logo-Vert.png" height="80px" />
	<br>
	<p>
		<em>May Tea Immo - Tous droits reserves - 2018</em>
	</p>
</div>