<div ng-show=true>
	<div ng-include="'assets/templates/headerUser.html'"></div>
</div>


<div class="col-sm-6 col-lg-offset-2"
	style="position: relative; padding-top: 30px; padding-bottom: 30px; top: 50px; border-style: solid; border-width: 1px; border-color: grey; background-color: rgba(215, 215, 215, 0.8); border-radius: 25px;">

	<h3 style="text-align: center; color: #406c8d">
		<strong>Inscription Client :</strong>
	</h3>

	<!-- Formulaire d'ajout -->
	<form class="form-horizontal" ng-submit="ajouterClient()" role="form" method="POST">

		<div class="form-group">
			<label for="idNum" class="col-sm-2 control-label">Mail</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="idNum"
					placeholder="Numero adresse proprietaire"
					ng-model="clientAjout.mail" required>
			</div>
		</div>

		<div class="form-group">
			<label for="idNum" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="idNum"
					placeholder="Numero adresse proprietaire"
					ng-model="clientAjout.mdp" required>
			</div>
		</div>





		<div class="form-group">
			<label for="idNum" class="col-sm-2 control-label">Numero
				Adresse</label>
			<div class="col-sm-10">
				<input type="number" class="form-control" id="idNum"
					placeholder="Numero adresse proprietaire"
					ng-model="clientAjout.adresse.numero">
			</div>
		</div>
		<div class="form-group">
			<label for="idPays" class="col-sm-2 control-label">Pays
				Adresse</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="idPays"
					placeholder="Pays adresse client"
					ng-model="clientAjout.adresse.pays">
			</div>
		</div>
		<div class="form-group">
			<label for="idRue" class="col-sm-2 control-label">Rue Adresse</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="idRue"
					placeholder="Rue adresse Client" ng-model="clientAjout.adresse.rue">
			</div>
		</div>
		<div class="form-group">
			<label for="idVille" class="col-sm-2 control-label">Ville
				Adresse</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="idVille"
					placeholder="Ville adresse Client"
					ng-model="clientAjout.adresse.ville">
			</div>
		</div>
		<div class="form-group">
			<label for="idNom" class="col-sm-2 control-label">Nom</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="idNom"
					placeholder="Nom du Client" ng-model="clientAjout.nom" required>
			</div>
		</div>
		<div class="form-group">
			<label for="idTelp" class="col-sm-2 control-label">Numero de
				Telephone</label>
			<div class="col-sm-10">
				<input type="tel" class="form-control" id="idTelp"
					placeholder="Numero privee" ng-model="clientAjout.telephone" required>
			</div>
		</div>


		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10" style="text-align: center;">
				<button class="btn btn-primary" ng-disabled="dataLoading">S'inscrire</button>
			</div>
		</div>

	</form>
</div>

