<!-- Formulaire d'ajout -->
<form class="form-horizontal">

 <div class="form-group">
    <label for="idNum" class="col-sm-2 control-label">Mail</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idNum" placeholder="Numero adresse proprietaire" ng-model="clientAjout.mail">
    </div>
  </div>
  
   <div class="form-group">
    <label for="idNum" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idNum" placeholder="Numero adresse proprietaire" ng-model="clientAjout.mdp">
    </div>
  </div>





 <div class="form-group">
    <label for="idNum" class="col-sm-2 control-label">Numero Adresse</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="idNum" placeholder="Numero adresse proprietaire" ng-model="clientAjout.adresse.numero">
    </div>
  </div>
   <div class="form-group">
    <label for="idPays" class="col-sm-2 control-label">Pays Adresse</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idPays" placeholder="Pays adresse client" ng-model="clientAjout.adresse.pays">
    </div>
  </div>
   <div class="form-group">
    <label for="idRue" class="col-sm-2 control-label">Rue Adresse</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idRue" placeholder="Rue adresse Client" ng-model="clientAjout.adresse.rue">
    </div>
  </div>
     <div class="form-group">
    <label for="idVille" class="col-sm-2 control-label">Ville Adresse</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idVille" placeholder="Ville adresse Client" ng-model="clientAjout.adresse.ville">
    </div>
  </div>
  <div class="form-group">
    <label for="idNom" class="col-sm-2 control-label">Nom</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idNom" placeholder="Nom du Client" ng-model="clientAjout.nom">
    </div>
  </div>
  <div class="form-group">
    <label for="idTelp" class="col-sm-2 control-label">Numero de Telephone</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="idTelp" placeholder="Numero privee" ng-model="clientAjout.telephone">
    </div>
  </div>
  
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" ng-click="ajouterClient()">Ajouter</button>
    </div>
  </div>
</form>