<div ng-show=true>
	<div ng-include="'assets/templates/headerConseiller.html'"></div>
</div>


<h1 style="text-align: center">
	<strong>Liste des biens a vendre :</strong>
</h1>

<div class="col-sm-7 col-lg-offset-2"
	style="position: relative; padding-top: 20px; padding-bottom: 20px; top: 30px; border-style: solid; border-width: 1px; border-color: grey; background-color: rgba(215, 215, 215, 0.8); border-radius: 25px;margin-bottom: 50px">
	<div class="form-group">
		<label for="idStatut" class="col-sm-2 control-label">Statut
			des biens</label>
		<div class="col-sm-4 col-sm-offset-4">
			<select class="form-control" id="idStatut" ng-model="search.statut">
				<option value="" id="idAll">Tous</option>
				<option value="disponible" id="idDispo">Disponible</option>
				<option value="vendu" id="idVendu">Vendu</option>
			</select>
		</div>
	</div>
</div>

<br/>
<br/>
<br/>

<table class="table table-bordered" style="text-align: center;">

	<tr>
		<th style="text-align: center;">ID</th>
		<th style="text-align: center;">Statut</th>
		<th style="text-align: center;">Numero</th>
		<th style="text-align: center;">Rue</th>
		<th style="text-align: center;">Ville</th>
		<th style="text-align: center;">Pays</th>
		<th style="text-align: center;">Date de publication</th>
		<th style="text-align: center;">Date de disponibilite</th>
		<th style="text-align: center;">Prix d'achat</th>
		<th style="text-align: center;">Remise</th>
		<th style="text-align: center;">Revenu Cadastral</th>
		<th style="text-align: center;">Etat</th>
		<th style="text-align: center;">Superficie</th>
		<th style="text-align: center;">Type de bien</th>
		<th style="text-align: center;">Photo</th>
	</tr>

	<tr ng-repeat="v in listeVente | filter:search">
		<td>{{v.id}}</td>
		<td>{{v.statut}}</td>
		<td>{{v.adresse.numero}}</td>
		<td>{{v.adresse.rue}}</td>
		<td>{{v.adresse.ville}}</td>
		<td>{{v.adresse.pays}}</td>
		<td>{{v.datePublication}}</td>
		<td>{{v.dateDisponibilite}}</td>
		<td>{{v.prixAchat}}</td>
		<td>{{v.remise}}</td>
		<td>{{v.revenuCadastral}}</td>
		<td>{{v.etat}}</td>
		<td>{{v.superficie}}</td>
		<td>{{v.classeStd.type_bien}}</td>
		<td><img ng-src="data:image/JPEG;base64,{{v.photo}}"
					style="max-height: 70px; max-width: 70px"></td>
	</tr>

</table>