<div ng-show=true>
	<div ng-include="'assets/templates/headerUser.html'"></div>
</div>

<br/>

<div>
	<input type="text" ng-model="rechercheZone"/>
	<input type="button" ng-click="rechercher()" value="Rechercher">
</div>

{{bien_map_bol}}
<div ng-if="!bien_map_bol"> <img ng-src="data:image/JPEG;base64,{{bien.photo}}"
						style="width: 250px; height: auto;"> <h1 style="color:red"> LOL </h1> </div>
						
<div  id="map" style="position:relative;top:50px;width:700px;height:500px;margin-left:4%" ></div>



<div id="infoBien" style="position:relative;top:100px;width:700px;height:500px;margin-left:4%;background-color:white">
	<div style="color:red">
	<h1 style="color:red">{{msg1}}</h1>
	LOL
	
	<h1 style="color:red">{{bien}}</h1>
	<h1 style="color:red">{{msg}}</h1>
	</div>
</div>