<div ng-show=true>
	<div ng-include="'assets/templates/headerUser.html'"></div>
</div>

<br/>

<div>
	<input type="text" ng-model="rechercheZone"/>
	<input type="button" ng-click="rechercher()" value="Rechercher">
</div>
{{test}}<br/>
{{bien_map_bol2}}<br/>
{{y_coord}}

<div class="form-group">

	<div class="col-sm-4" id="Img_appart" ng-hide="!bien_map_bol2" style="position:absolute;top:300px;left:880px;z-index:2"> <img ng-src="data:image/JPEG;base64,{{bien_map.photo}}"
						style="width: 450px; height: auto;"> <h1 style="color:red"> </h1> </div>
						
	<div class="col-sm-4"  id="map" style="position:relative;left:50px;width:700px;height:500px;z-index:1" ></div>

</div>

<div id="infoBien" style="position:relative;top:1000px;width:700px;height:500px;margin-left:4%;background-color:white">
	<div style="color:red">
	<h1 style="color:red">{{msg1}}</h1>
	LOL
	
	<h1 style="color:red">{{bien}}</h1>
	<h1 style="color:red">{{msg}}</h1>
	</div>
</div>