<div>
	<nav class="navbar navbar-inverse" id="deco">



		<ul class="nav nav-pills" id="menu-demo2">

			<li><a><img
				src="assets/images/SB-Logo-Vert.png" height="40px" /></a></li>
				
			<li role="presentation"><a href="#!accueilU">MayTeaImmo</a></li>

		
					<li role="presentation"><a href=#!listeLocation>Location</a></li>
			

			<li role="presentation"><a  href="">Ventes</a>


			<li><a>Compte</a>

				<ul>
					<li role="presentation"><a href="#!coClient">Connexion
							Client</a></li>
					<li role="presentation"><a href="#!inscriptionClient">Inscription
							Client</a></li>
					<li role="presentation"><a href="#!mapConseiller">Map Conseiller</a></li>		
					<li role="presentation"><a href="#!coConseiller">Connexion Conseiller</a></li>
				</ul></li>
				
			<li role="presentation"><a  href="#!contactImmo">Contactez-nous</a>

		</ul>
	</nav>
</div>

