<div>
	<nav class="navbar navbar-inverse" id="deco">



		<ul class="nav nav-pills" id="menu-demo2">

			<li><a><img
				src="assets/images/SB-Logo-Vert.png" height="40px" /></a></li>
				
			<li role="presentation"><a href="#!accueilU">MayTeaImmo</a></li>

			<li><a>Nos Locations</a>

				<ul>
					<li role="presentation"><a href="">Appartement</a></li>
					<li role="presentation"><a href="">Maison</a></li>
				</ul></li>

			<li><a>Nos Ventes</a>

				<ul>
					<li role="presentation"><a href="">Terrains</a></li>
					<li class="divider"></li>
					<li role="presentation"><a href="">Locaux Entreprise</a></li>
				</ul></li>

			<li><a>Compte</a>

				<ul>
					<li role="presentation"><a href="#!coClient">Connexion
							Client</a></li>
					<li role="presentation"><a href="#!inscriptionClient">Inscription
							Client</a></li>
					<li role="presentation"><a href="#!coConseiller">Conseiller</a></li>
				</ul></li>

		</ul>
	</nav>
</div>

