<div>
	<nav class="navbar navbar-inverse" id="deco">

		<ul class="nav nav-pills" id="menu-demo2">
			<li role="presentation"><a href="">Mon Espace Conseiller</a></li>

			<li><a>Biens immobiliers a vendre</a>

				<ul>
					<li role="presentation"><a href="#!ajouterVente">Ajouter</a></li>
					<li role="presentation"><a href="">Modifier</a></li>
				</ul></li>
				
				<li><a>Biens immobiliers a louer</a>

				<ul>
					<li role="presentation"><a href="">Ajouter</a></li>
					<li role="presentation"><a href="">Modifier</a></li>
				</ul></li>

			<li><a>Les Proprietaires</a>

				<ul>
					<li role="presentation"><a href="#!listeProprio">Liste</a></li>
					<li role="presentation"><a href="#!ajouterProprio">Ajouter</a></li>
					<li role="presentation"><a href="#!modifierProprio">Modifier</a></li>
					<li role="presentation"><a href="#!supprimerProprio">Supprimer</a></li>
					<li role="presentation"><a href="#!rechercherProprio">Rechercher</a></li>
				</ul></li>

			<li><a>Mes Clients Interesses</a>

				<ul>
					<li role="presentation"><a href="#!listeClient">Liste Clients</a></li>
					<li role="presentation"><a href="#!modifierClient">Modifier Client</a></li>
					<li role="presentation"><a href="">Gerer les visites</a></li>
				</ul></li>

			<li><a>Mes Acquereurs</a>

				<ul>
					<li role="presentation"><a href="">Acquereurs</a></li>
					<li class="divider"></li>
					<li role="presentation"><a href="">Les contrats</a></li>
				</ul></li>


			<li role="presentation"><a href="#!accueilU"
				ng-click="logoutConseiller()">Se Deconnecter</a></li>
		</ul>
	</nav>
</div>

