<div>
	<nav class="navbar navbar-inverse" id="deco">

		<ul class="nav nav-pills" id="menu-demo2">
			<li><a><img src="assets/images/SB-Logo-Vert.png"
					height="40px" /></a></li>

			<li role="presentation"><a href="#!accueilClient">Mon Espace Client</a></li>

			<li><a>Mes rendez-vous</a>

				<ul>
					<li role="presentation"><a href="">Liste RDV</a></li>
				</ul></li>

			<li><a>Contacter l'agence</a>
			
			<li><a>Mon compte</a>

				<ul>
					<li role="presentation"><a href="">Modifer mes infos</a></li>
				</ul></li>


			<li role="presentation"><a href="#!accueilU"
				ng-click="logout()">Se Deconnecter</a></li>
		</ul>
	</nav>
</div>
